<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExcersiceIV</title>
</head>

<body>
    <a href="https://www.eltiempo.com/" onclick="return confirmar()">Enlace a la pagina oficial de star wars</a><!-- con la etiqueta "a" agregamos una url (el tiempo) y con el atributo "onclick" damos la function of redirigir a la url -->
    <script src="confirmationVisitPage.js">
    </script><!-- con la etiqueta script src llamamos la function of .js -->
</body>

</html>