.menuContent {
    display: none;
    position: fixed;
    z-index: 1;
    width: auto;
    height: auto;
    background-color: #fefefe;
    border: 1px solid #888;
}

.myBton {
    border: rgba(0, 0, 0, 0.4);
    max-width: 50px;
    max-height: 25px;
}
.myBton:hover,
.myBton:focus {
    color: #fff;
	background-color: rgba( 0, 58, 8);
}