<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExcerciseVII</title>
    
</head>
<body>
    <form name="imagenes"><!-- Con la etiqueta form la usamos para hacer un formulario y con el atributo name le damos la especificacion ejemplo (imagenes) -->
        <select name="imagen" size="1" onchange="ver_imagen()"><!-- with the tag (select) damos la funcion de seleccionar varis opciones / with the atributte (size) damos la quantity of options for selection / with the attribute (Onchange) damos the function of change -->
            <option value="../../Imgs/810fff.png">0</option><!-- with the tag (option) for saber que elemento vamos a enviar con el formulario -->
            <option value="../../Imgs/810fff.png">1</option><!-- with the tag (option) for saber que elemento vamos a enviar con el formulario -->
            <option value="../../Imgs/810fff.png">2</option><!-- with the tag (option) for saber que elemento vamos a enviar con el formulario -->
            <option value="../../Imgs/810fff.png">3</option><!-- with the tag (option) for saber que elemento vamos a enviar con el formulario -->
        </select>
    </form>
    <img src="../../Imgs/810fff.png" name="img" style="border: 3;"><!-- with the tag(img src) la usamos para llamar las imagenes a utilizar / with (name) sabemos el tipo de elemeto a llamar with the attribute (style) agregamos un borde a dicha imagen -->
    <script src="gallery_image.js"></script><!-- con la etiqueta script src llamamos la function of .js -->
    
</body>
</html>