<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExcerciseVII</title>
    
</head>
<body>
    <form name="imagenes">
        <select name="imagen" size="1" onchange="ver_imagen()">
            <option value="../../Imgs/810fff.png">0</option>
            <option value="../../Imgs/810fff.png">1</option>
            <option value="../../Imgs/810fff.png">2</option>
            <option value="../../Imgs/810fff.png">3</option>
        </select>
    </form>
    <img src="../../Imgs/810fff.png" name="img" style="border: 3;">
    <script src="gallery_image.js"></script>
    
</body>
</html>