.sliderHeader {
    display: flex;
    background-color: #f1f1f1;
    max-height: 40px;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.slider {
    font-size: .875rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 590px;
    text-decoration: none;
    color: black;
    

}
.separador{
    padding-inline: 10px;

    
}
.helpLogin {
    
    position: absolute;
    top: auto;
    right: 90px;
    font-size: 1em;
    font-family: sans-serif;
    letter-spacing: -1px;     
}
.groupLogo{
    display: flex;
}
.logo{
    
    position: absolute !important;
    top: 55px;
    right: 852px;       
}
.store{
    position: relative;
    top: 17px;
    left: 62px;
}
.search-box{
    border: 3px;
    border-radius: 30pxscrip;
    
}

.langdings{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media screen {
    
}