<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis | Tienda de Ropa Online en Colombia</title>
    <link rel="icon" type="icon" sizes="32x32" href="https://tennis.vteximg.com.br/arquivos/favicon-new.png">
    <link rel="stylesheet" href="replik.css">
    <link rel="stylesheet" href="../../icon/descarga.png">
</head>

<body style="margin: 0%;">
    <header>
        <div>
            <div class="sliderHeader" style="position: relative;">
                <div class="slider" id="slider">
                    <marquee behavior="slideItem" direction="rigth">
                       <a href="#">40% OFF EN REFERENCIAS SELECCIONADAS + 5% EXTRA PAGANDO CON ADDI, ¡ENTRA YA!</a>
                    </marquee>                     
                </div>
                <div class="helpLogin" style="display: flex;">
                    <div class="helpH">
                        <p> ¿NECESITAS AYUDA?</p>
                    </div>
                    <div class="separador">
                        <p><strong>|</strong></p>
                    </div>
                    <div class="loginH">
                        <p>INICIAR SESION</p>
                    </div>
                </div>
            </div>
            <div class="groupLogo" style="justify-content: left;">
                <div class="store">
                    <img src="../../icon/descarga.png" alt="marcador" style="max-width: 29px;
                    margin-bottom: -8px;";>TIENDAS</p>
                </div>                
                    <img width="220px" height="auto" alt="Logo"
                        class="logo"
                        crossorigin="anonymous"
                        data-src="https://tennis.vtexassets.com/assets/vtex.file-manager-graphql/images/ec1508cb-2bf8-4dbe-8211-33e33fa6444d___aa29dd82c7e8875995264021213ec236.svg"
                        loading="lazy"
                        src="https://tennis.vtexassets.com/assets/vtex.file-manager-graphql/images/ec1508cb-2bf8-4dbe-8211-33e33fa6444d___aa29dd82c7e8875995264021213ec236.svg">
                <div class="search-box">
                    <input type="search">
                
                   
                </div>
                <div>
                    <!-- icon guardados -->
                </div>
                <div>
                    <!-- icon cart -->
                </div>
            </div>
            <div class="langdings" >
                <a href="#">
                    <p>Nuevo</p>
                </a>
                <a href="#">
                    <p>Mujer</p>
                </a>
                <a href="#">
                    <p>Hombre</p>
                </a>
                <a href="#">
                    <p>Niña</p>
                </a>
                <a href="#">
                    <p>Niño</p>
                </a>
                <a href="#">
                    <p>Mascotas</p>
                </a>
                <a href="#">
                    <p>Sale</p>
                </a>
                <a href="#">
                    <p>Blog</p>
                </a>
            </div>
        </div>
    </header>
    </div>
    </div>
<div>
    <img src="../../../../../Imágenes/VillaDeLeyva/IMG_20230319_143115.jpg" alt="tortolitos" style="max-width: 70%;">
</div>

<img src="" alt="" srcset="">
</body>

</html>