<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExcerciseIX</title>
</head>
<body>
    <p aling="center" style="font :i 36px Georgia">GATITO</p><!-- éste es el texto de la page el attribute (aling) sirve para aliner el texto / agregamos el Attribute (style) para dar el tamaño y la fuente ahi mismo sin tener que hacer un css -->
    <p aling=""center><img src="../../Imgs/fff&text=Perro.webp"> <!-- éste codigo es para agregar imagen a la page -->
    </p>
            <input type="button" value="Imprimir" onclick="window.print()"><!-- btn con funcion de abrir el popUp of print -->
    </body>
</html>