<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <title>Tennis | Tienda de Ropa Online en Colombia </title>
</head>

<body style="margin: 0%;">
    <header class="header">
        <div class="topHeader">
            <div class="slide">

                <marquee hspace="600px">
                    TENNIS OUTLET | HASTA 50% OFF EN REF. SELECCIONADAS
                </marquee>

            </div>
            <div class="login">
                <div class="help">
                    ¿NECESITAS AYUDA?
                </div>
                <div class="loginn">
                    INICIAR SESIÓN
                </div>
            </div>
        </div><!-- LOGIN -->
        <div class="logo">
            <div>
                <p class="icon_loctor">
                    TIENDAS
                </p>

            </div>
            <div class="img_logo">
                <img src="https://tennis.vtexassets.com/assets/vtex.file-manager-graphql/images/ec1508cb-2bf8-4dbe-8211-33e33fa6444d___aa29dd82c7e8875995264021213ec236.svg"
                    alt="logo tennis.co">
            </div>
            <div>
                <label class="searchs">
                    <div class="search">
                        <input type="search" placeholder="Busca tus favoritos">
                    </div>
                </label>

            </div>

        </div><!-- logo -->
        <nav>
            <div>
                <a href="#">
                    Nuevo
                </a>
                
                <a href="#">
                    Niño
                </a>
                
                <a href="#">
                    Niña
                </a>
                
                <a href="#">
                    Mujer
                </a>
                
                <a href="#">
                    Hombre
                </a>
                
                <a href="#">
                    Mascotas
                </a>
                
                <a href="#">
                    Sale
                </a>
                
            </div><!-- landings -->
        </nav>
    </header>
    <div>
        <img src="https://tennis.vtexassets.com/assets/vtex.file-manager-graphql/images/97562aef-a6b0-4da8-b2f7-d7395aa4483a___71ffe47a90be49ddae2adbcf2390c4b7.jpg"
            alt="photoCollection">
    </div>

    <script src="functions.js"></script>
</body>

</html>