<!DOCTYPE html>
<html lang="en">
<!--  -->
<!-- ESTO ES UNA PRUEBA EN MAYUSCULA -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Primer Desarrollo</title>
    <link rel="stylesheet" href="css.css">
</head>

<body> 
    <div>
        <h1>No Presionar</h1><!-- texto de la page principal -->
        <button id="myBtn">Que no!!!</button><!-- éste es el boton y agregamos el texto >"Que no!!!"< -->
        <!--The Modal-->
        <div id="myModal" class="modal"><!-- éste es el modal -->
            <!--Modal content-->
            <div class="modal-content"><!-- éste es el contenido del modal -->
                <span class="close">&times;</span><!-- éste es el icono de cerrar y (class) es la function de cerrar -->
                <p>Gracias, si sirve :3</p><!-- éste es el texto del modal -->
            </div><!-- contenedor del modal -->
        </div>
    </div>
    <script src="index.js"></script><!-- con la etiqueta script src llamamos la function of .js -->
</body>

</html>